In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./Dataset/stock_d.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,1999-11-18,32.546494,35.765381,28.612303,31.473534,26.929758,62546380.0,A
1,1999-11-19,30.713518,30.758226,28.478184,28.880545,24.711128,15234146.0,A
2,1999-11-22,29.551144,31.473534,28.657009,31.473534,26.929758,6577870.0,A
3,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.481606,5975611.0,A
4,1999-11-24,28.701717,29.998213,28.612303,29.372318,25.131901,4843231.0,A

In [3]:
from data_loader import to_datetime
df['Datetime'] = to_datetime(df['Date'], 'd')
# od_df = df[df['Datetime']=='2022-10-03']

In [4]:
from index_trend import *

In [5]:
from tqdm import tqdm

In [6]:
df_list = []
for ticker in tqdm(df['Ticker'].unique()[:30]):
    _ = stock_standard(df[df['Ticker'] == ticker], only_ma = False).calculator(3)
    df_list.append(_)
new_df = pd.concat(df_list, axis = 0)

100%|██████████| 30/30 [01:56<00:00,  3.87s/it]

In [54]:
ba = stock_standard(df[df['Ticker'] == 'AAPL'], only_ma = False).calculator(4)

In [62]:
d = []
for i in range(len(ba)):
    if ba.iloc[i]['Standard'] == 1:# and ba.iloc[i]['Datetime'].year >= 2020 and ba.iloc[i]['Datetime'].year <= 2021:
        if ba.iloc[i+1]['Adj Close']>ba.iloc[i]['Adj Close']:
            d.append(1)
        else:
            d.append(0)
pd.DataFrame(d).value_counts()

0    17
1    13
dtype: int64

In [7]:
new_df.shape

(105763, 19)

In [10]:
new_df['Standard'].value_counts()

0.0    105144
1.0       619
Name: Standard, dtype: int64

In [28]:
tasla_std

,Open,High,Low,Close,Adj Close,Volume,Ticker,Datetime,MA(120),MA(60),MA(20),MA(5),s1,s2,s3,s4,s5,Standard
20181845,2.254667,2.320000,2.233333,2.260000,2.260000,9906000.0,TSLA,2012-12-06,2.015222,2.014622,2.167200,2.266000,0,1.0,0.0,0.0,0,0
20181846,2.286667,2.299333,2.256667,2.278000,2.278000,9966000.0,TSLA,2012-12-07,2.017589,2.021700,2.176733,2.270667,1,1.0,0.0,0.0,0,1
20181847,2.295333,2.320000,2.278667,2.304667,2.304667,13947000.0,TSLA,2012-12-10,2.019106,2.028689,2.190900,2.270000,1,1.0,0.0,1.0,0,1
20181848,2.306667,2.366667,2.297333,2.352000,2.352000,23589000.0,TSLA,2012-12-11,2.020878,2.035133,2.204933,2.288400,1,1.0,0.0,1.0,0,1
20181849,2.347333,2.386667,2.330000,2.350667,2.350667,30957000.0,TSLA,2012-12-12,2.021700,2.040544,2.217100,2.309067,1,1.0,0.0,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20184319,245.009995,246.669998,233.270004,240.809998,240.809998,86982700.0,TSLA,2022-10-05,269.870362,282.519945,284.529500,253.221997,0,0.0,0.0,1.0,0,0
20184320,239.440002,244.580002,235.350006,238.130005,238.130005,69298400.0,TSLA,2022-10-06,269.118667,282.538112,281.973000,247.206000,0,0.0,0.0,0.0,1,0
20184321,233.940002,234.570007,222.020004,223.070007,223.070007,83592300.0,TSLA,2022-10-07,268.187890,282.284056,278.142500,238.770001,0,0.0,0.0,0.0,0,0
20184322,223.929993,226.990005,218.360001,222.960007,222.960007,67925000.0,TSLA,2022-10-10,267.189918,281.998945,274.069500,234.882004,0,0.0,0.0,0.0,1,0
20184323,220.949997,225.750000,215.000000,216.500000,216.500000,76707800.0,TSLA,2022-10-11,266.279640,281.598168,270.288000,228.294003,0,0.0,0.0,0.0,1,0

In [29]:
tasla_std['Standard'].value_counts()

0    1273
1    1206
Name: Standard, dtype: int64

In [31]:
goog['MA(120)'] = goog['Adj Close'].rolling(120).mean()
goog['MA(60)'] = goog['Adj Close'].rolling(60).mean()
goog['MA(20)'] = goog['Adj Close'].rolling(20).mean()
goog['MA(5)'] = goog['Adj Close'].rolling(5).mean()

In [32]:
goog

,Date,Open,High,Low,Close,Adj Close,Volume,MA(120),MA(60),MA(20),MA(5)
8845492,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216.0,NaN,NaN,NaN,NaN
8845493,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488.0,NaN,NaN,NaN,NaN
8845494,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939.0,NaN,NaN,NaN,NaN
8845495,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159.0,NaN,NaN,NaN,NaN
8845496,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512.0,NaN,NaN,NaN,2.634725
...,...,...,...,...,...,...,...,...,...,...,...
8850056,2022-10-05,100.690002,102.739998,99.739998,102.220001,102.220001,18475500.0,112.954163,110.689234,102.6510,99.634001
8850057,2022-10-06,101.500000,103.730003,101.500000,102.239998,102.239998,17156200.0,112.745721,110.523450,102.2920,100.464001
8850058,2022-10-07,100.650002,101.419998,99.209999,99.570000,99.570000,24232300.0,112.509129,110.325617,101.6815,101.148001
8850059,2022-10-10,99.849998,99.989998,97.870003,98.709999,98.709999,16529900.0,112.243954,110.091334,101.0235,101.030000
8850060,2022-10-11,98.250000,100.120003,97.250000,98.050003,98.050003,21609900.0,111.992325,109.893667,100.6605,100.158000

In [33]:
goog.dropna(inplace=True)

In [34]:
goog

,Date,Open,High,Low,Close,Adj Close,Volume,MA(120),MA(60),MA(20),MA(5)
8845611,2005-02-08,4.905613,4.981827,4.845089,4.947456,4.947456,4.609212e+08,4.012873,4.633574,4.852425,5.060283
8845612,2005-02-09,5.000258,5.021179,4.718813,4.771615,4.771615,6.894345e+08,4.031811,4.637551,4.849984,4.988651
8845613,2005-02-10,4.781328,4.787306,4.613956,4.681951,4.681951,7.621541e+08,4.048347,4.638842,4.840768,4.874679
8845614,2005-02-11,4.649074,4.790046,4.634379,4.667505,4.667505,5.266065e+08,4.064536,4.645010,4.830893,4.790195
8845615,2005-02-14,4.554180,4.808975,4.508103,4.806733,4.806733,1.548270e+09,4.082826,4.653516,4.822200,4.775052
...,...,...,...,...,...,...,...,...,...,...,...
8850056,2022-10-05,100.690002,102.739998,99.739998,102.220001,102.220001,1.847550e+07,112.954163,110.689234,102.651000,99.634001
8850057,2022-10-06,101.500000,103.730003,101.500000,102.239998,102.239998,1.715620e+07,112.745721,110.523450,102.292000,100.464001
8850058,2022-10-07,100.650002,101.419998,99.209999,99.570000,99.570000,2.423230e+07,112.509129,110.325617,101.681500,101.148001
8850059,2022-10-10,99.849998,99.989998,97.870003,98.709999,98.709999,1.652990e+07,112.243954,110.091334,101.023500,101.030000
8850060,2022-10-11,98.250000,100.120003,97.250000,98.050003,98.050003,2.160990e+07,111.992325,109.893667,100.660500,100.158000

In [35]:
ascend = []
for idx in range(len(goog)):
    if goog.iloc[idx]['MA(120)']< goog.iloc[idx]['MA(60)'] and goog.iloc[idx]['MA(60)']< goog.iloc[idx]['MA(20)'] and goog.iloc[idx]['MA(20)']< goog.iloc[idx]['MA(5)'] and goog.iloc[idx]['MA(120)']< goog.iloc[idx]['Adj Close']:
        ascend.append(1)
    else:        
        ascend.append(0)

In [36]:
goog['ascend'] = ascend

In [37]:
goog['ascend'].value_counts()

0    2968
1    1482
Name: ascend, dtype: int64

In [38]:
goog

,Date,Open,High,Low,Close,Adj Close,Volume,MA(120),MA(60),MA(20),MA(5),ascend
8845611,2005-02-08,4.905613,4.981827,4.845089,4.947456,4.947456,4.609212e+08,4.012873,4.633574,4.852425,5.060283,1
8845612,2005-02-09,5.000258,5.021179,4.718813,4.771615,4.771615,6.894345e+08,4.031811,4.637551,4.849984,4.988651,1
8845613,2005-02-10,4.781328,4.787306,4.613956,4.681951,4.681951,7.621541e+08,4.048347,4.638842,4.840768,4.874679,1
8845614,2005-02-11,4.649074,4.790046,4.634379,4.667505,4.667505,5.266065e+08,4.064536,4.645010,4.830893,4.790195,0
8845615,2005-02-14,4.554180,4.808975,4.508103,4.806733,4.806733,1.548270e+09,4.082826,4.653516,4.822200,4.775052,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8850056,2022-10-05,100.690002,102.739998,99.739998,102.220001,102.220001,1.847550e+07,112.954163,110.689234,102.651000,99.634001,0
8850057,2022-10-06,101.500000,103.730003,101.500000,102.239998,102.239998,1.715620e+07,112.745721,110.523450,102.292000,100.464001,0
8850058,2022-10-07,100.650002,101.419998,99.209999,99.570000,99.570000,2.423230e+07,112.509129,110.325617,101.681500,101.148001,0
8850059,2022-10-10,99.849998,99.989998,97.870003,98.709999,98.709999,1.652990e+07,112.243954,110.091334,101.023500,101.030000,0
8850060,2022-10-11,98.250000,100.120003,97.250000,98.050003,98.050003,2.160990e+07,111.992325,109.893667,100.660500,100.158000,0

In [24]:
import numpy as np

In [42]:
s1 = []
for idx in range(len(goog)):
    if idx < 20:
        s1.append(np.NAN)
    else:
        if goog.iloc[idx]['High']>goog.iloc[idx-20]['High']:
            s1.append(1)
        else:
            s1.append(0)

In [44]:
goog['high20'] = s1
goog.dropna(inplace=True)

In [49]:
s2 = []
for idx in range(len(goog)):
    if idx < 1:
        s2.append(np.NAN)
    else:
        if goog.iloc[idx]['Volume']>goog.iloc[idx-1]['Volume']*3:
            s2.append(1)
        else:
            s2.append(0)

In [50]:
goog['volume200'] = s2
goog.dropna(inplace=True)

In [51]:
s3 = []
for idx in range(len(goog)):
    if idx < 2:
        s3.append(np.NAN)
    else:
        if goog.iloc[idx-1]['Volume']>goog.iloc[idx-2]['Volume'] and goog.iloc[idx-1]['Adj Close']>goog.iloc[idx-2]['Adj Close'] :
            s3.append(1)
        else:
            s3.append(0)

In [52]:
goog['dm'] = s3
goog.dropna(inplace=True)

In [54]:
goog['dm'].value_counts()

0.0    3363
1.0    1064
Name: dm, dtype: int64

In [55]:
from index_trend import *

In [57]:
goog['Datetime'] = goog['Date']
goog['Ticker'] = 'GOOG'
goog.drop('Date', axis=1, inplace=True)

In [59]:
goog[['center', 'ub', 'lb']] = bollinger(goog, w=20, k=2)[['center', 'ub', 'lb']]
goog.dropna(inplace=True)

In [60]:
goog

,Open,High,Low,Close,Adj Close,Volume,MA(120),MA(60),MA(20),MA(5),ascend,high20,volume200,dm,Datetime,Ticker,center,ub,lb
8845653,4.809224,4.851814,4.790046,4.812711,4.812711,217231195.0,4.596419,4.696031,4.545898,4.766285,0,1.0,0.0,0.0,2005-04-11,GOOG,4.545898,4.831175,4.260622
8845654,4.806982,4.842350,4.717567,4.830893,4.830893,293881426.0,4.605971,4.695463,4.569522,4.793134,0,1.0,0.0,1.0,2005-04-12,GOOG,4.569522,4.867402,4.271643
8845655,4.818688,4.839859,4.725538,4.805239,4.805239,263214910.0,4.616855,4.692540,4.587355,4.811615,0,1.0,0.0,1.0,2005-04-13,GOOG,4.587355,4.897212,4.277499
8845656,4.813707,4.840855,4.734753,4.768377,4.768377,247030473.0,4.625587,4.687372,4.607094,4.800108,0,1.0,0.0,0.0,2005-04-14,GOOG,4.607094,4.909832,4.304356
8845657,4.734753,4.740731,4.599261,4.607729,4.607729,464831797.0,4.628196,4.682266,4.614205,4.764990,0,1.0,0.0,0.0,2005-04-15,GOOG,4.614205,4.909531,4.318879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8850056,100.690002,102.739998,99.739998,102.220001,102.220001,18475500.0,112.954163,110.689234,102.651000,99.634001,0,0.0,0.0,0.0,2022-10-05,GOOG,102.651000,111.517018,93.784982
8850057,101.500000,103.730003,101.500000,102.239998,102.239998,17156200.0,112.745721,110.523450,102.292000,100.464001,0,0.0,0.0,0.0,2022-10-06,GOOG,102.292000,110.565633,94.018366
8850058,100.650002,101.419998,99.209999,99.570000,99.570000,24232300.0,112.509129,110.325617,101.681500,101.148001,0,0.0,0.0,0.0,2022-10-07,GOOG,101.681500,108.716521,94.646478
8850059,99.849998,99.989998,97.870003,98.709999,98.709999,16529900.0,112.243954,110.091334,101.023500,101.030000,0,0.0,0.0,0.0,2022-10-10,GOOG,101.023500,106.284072,95.762927
8850060,98.250000,100.120003,97.250000,98.050003,98.050003,21609900.0,111.992325,109.893667,100.660500,100.158000,0,0.0,0.0,0.0,2022-10-11,GOOG,100.660500,105.671686,95.649314

In [67]:
goog['Ticker'].unique().item()

'GOOG'

In [61]:
s4 = []
for idx in range(len(goog)):
    if goog.iloc[idx]['Adj Close']<goog.iloc[idx]['center'] and goog.iloc[idx]['Adj Close']>goog.iloc[idx]['lb']:
        s4.append(1)
    else:
        s4.append(0)

In [62]:
goog['bol'] = s4
goog['bol'].value_counts()

0    2787
1    1621
Name: bol, dtype: int64

In [66]:
cnt = []
for idx in range(len(goog)):
     if goog.iloc[idx]['bol'] + goog.iloc[idx]['dm'] + goog.iloc[idx]['volume200'] + goog.iloc[idx]['high20'] + goog.iloc[idx]['ascend'] > 1:
          cnt.append(1)
     else:
          cnt.append(0)
goog['cnt'] = cnt
goog['cnt'].value_counts()

1    2218
0    2190
Name: cnt, dtype: int64